<section>

  <h3 class="abouthead">22 - 24 April 2016, Lagos, Nigeria.</h3>

 <div class="about">
  <div class="col-1">
    <h4>The Hackathon</h3>
    <p>The International Space Apps Challenge -a NASA Open Innovation Initiative- is an annual two-day hackathon where teams of technologists, engineers, scientists, designers, artists, educators, entrepreneurs, developers and students across the globe collaborate and engage with publicly available data to design innovative solutions for global challenges.</p>
  </div>

  <div class="col-1">
    <h4>The Challenge</h3>
    <p>The event embraces collaborative problem solving with a goal of producing relevant open-source solutions to advance space exploration missions and improve life on Earth. It is open to anyone who has a passion for developing real solutions to global challenges. NASA is leading this global collaboration along with a number of additional government collaborators and local organizations.</p>
  </div>

  <div class="col-1">
    <h4>Space Apps Lagos</h3>
    <p>Space Apps Cairo is proud to host a local hackathon for the second year and take part in the global challenge. Space Apps Cairo is co-organized by IEEE Egypt Section, part of the Institute of Electrical & Electronics Engineers (IEEE): the world’s largest professional association advancing innovation and technological excellence for the benefit of humanity</p>
  </div>








 <!-- <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>

  </div>


  <div class="blurb">
    {{ site.data.settings.blurb | markdownify }}
  </div>

  {% if site.data.settings.skills %}

  <div class="skill-lockup">

    {% for skill in site.data.settings.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>

    {% endfor %}

  </div>

  {% endif %}
-->

</section>
